* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #F5F5F5;
  background: #0F1626;
}
.counter {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
}
.counter h1 {
  font-size: 47px;
}
.counter h2 {
  font-size: 37px;
  margin-bottom: 10px;
}
.btn {
  font-size: 22px;
  color: #F5F5F5;
  background: #D1302B;
  padding: 7px 25px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}